.login-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    box-sizing: border-box; /* includes the padding and the border */
}

.oauth-card {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    border-radius: 2rem;
    gap: 1rem;
    box-shadow: 0 2px 12px rgb(51 50 50 / 0.87);
    margin: 5rem;
    width: min(100% - 2rem, 26rem);
}

.login-text-top {
    color: #0c246c;
    margin: 0;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}

.login-text-bottom {
    margin: 0;
    color: #0c246c;
    text-align: center;
    font-size: 1rem;
}
