.header {
    width: 100%;
    box-sizing: border-box;
    min-height: 5rem;
    background-color: rgb(12 36 108 / 0.9);
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
}

.header-text {
    color: #ffffff;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}