.footer {
    display: flex;
    background-color: #0c246c;
    margin-top: auto;
    min-height: 4rem;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    flex-wrap: wrap;
    box-sizing: border-box; /* includes the padding and the border */
}